/* sticky nav  */
body main nav {
  position: sticky !important;
  top: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #ffffff;
}
/* relox project */
.text_color {
  color: #134470;
}
.navbar .container .navbar-brand span {
  font-size: 30px;
}
/* .relox_bg {
  background: rgb(183, 252, 222);
  background: linear-gradient(
    23deg,
    rgb(103, 184, 149) 61%,
    rgba(13, 162, 99, 1) 100%
  );
} */
.btn_text {
  background: #ffffff;
  color: #134470;
}
.btn_text i {
  background: #ffffff;
  color: #134470;
}
.project .project_btn a {
  background-color: #002c52;
}
.relox_bg1 {
  background-image: linear-gradient(
    to bottom,
    #134470,
    #1f64a1,
    #5888b2,
    rgb(146, 195, 216),
    #f8f9fa
  );
}
.title_sections p {
  color: #6c7a87;
  /* font-size: 1.2rem; */
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.name_skills ul li {
  list-style: none;
  padding-bottom: 15px;
  font-size: 16px;
  color: #6c7a87;
  font-weight: 400;
}
.text-rlx {
  background-image: linear-gradient(60deg, #134470, #1f64a1);
  background-clip: text;
  color: transparent;
  font-size: 20px;
}
.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}
/* Design process  */
.padding-b-6 {
  padding-bottom: 3.75rem !important;
}
.title_sections .before_title {
  margin-bottom: 1.25rem;
}
.title_sections .before_title span {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  font-weight: bold;
}
#circle {
  /* background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto; */

  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  /* background-image: linear-gradient(
    to bottom,
    #2ffa91,
    #2adb77,
    #2bcd66,
    #25ca56,
    #25b945
  ); */
  background: linear-gradient(135deg, #00d170 0%, #038a9c 100%);
  margin: auto;
}
#circle:hover {
  /* background-image: linear-gradient(60deg, #088750, #28d12b); */
  background: linear-gradient(135deg, #05a85b 0%, #1e30f3 100%);
  background-clip: text;
  color: transparent;
  border: 1px solid #28d12b;
}
.txt h5 {
  color: #000000;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: medium;
}

.txt p {
  color: #6c7a87;
  font-size: 1rem;
  font-weight: 400;
  /* margin-bottom: 0; */
}
.title_sections .before_title .c-black {
  /* background-image: linear-gradient(60deg, #10b06b, #45e1a2);
  background-clip: text;
  color: transparent;
  font-size: 2.2rem;
  font-weight: 600;
  font-weight: bold; */

  /* background-color: #12b132; */
  background: linear-gradient(135deg, #00d170 0%, #038a9c 100%);
  font: bold 48px "Futura";
  color: transparent;
  text-shadow: 0px 2px 3px rgba(218, 232, 226, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
/* skills  */
.feature_dem3 .item_feth .za_tzt h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}
/* ----HMS---  */

/* ----HMS---  */
/* .hms_bg {


  background-image: linear-gradient(
    to right bottom,
    #f09a42,
    #d19e30,
    #afa129,
    #8ca12e,
    #67a03b,
    #56a758,
    #46ad72,
    #3bb28b,
    #5ec2af,
    #88d1cc,
    #b4dfe2,
    #dfedf0
  );
} */

.hms_bg1 {
  background-image: linear-gradient(
    to bottom,
    #ffc68d,
    #eac375,
    #cfc262,
    #aec155,
    #84c052,
    #66c771,
    #42cd91,
    #00d1af,
    #52dcda,
    #94e5f4,
    #cdeefd,
    #f8f9fa
  );
}
.hms_txt {
  /* background-image: radial-gradient(
    circle,
    #0f7f7e,
    #34906c,
    #6d9c50,
    #aca038,
    #f09a42
  ); */
  background-color: #134470;
  background-clip: text;
  color: transparent;
}
/* vg pharma */
/* .vg_bg {
  background-image: linear-gradient(
    to left bottom,
    #1482c5,
    #0096c4,
    #00a5a4,
    #00ae6f,
    #79af35
  );
} */
.vg_bg1 {
  background-image: linear-gradient(
    to bottom,
    #1482c5,
    #0092c6,
    #009fb6,
    #00a896,
    #00ae6f,
    #2eb77a,
    #46c186,
    #59ca91,
    #65d9c7,
    #95e4eb,
    #ccedfa,
    #f8f9fa
  );
}
.vg_Contributions ul li {
  color: rgb(255, 255, 255);
}
/* .vg_txt {
} */
/* header  */
header {
  background-image: url("../assets/bg1.png");
}
/* skills and s/w  */
.skills_sw {
  background-image: url("../assets/bg2.png");
  background-size: cover;
}
/* other  */
h2 {
  font-size: 3rem;
}
h6 {
  font-weight: 800;
  margin-bottom: 1rem;
}
h5 {
  font-weight: 800;
  margin-bottom: 1rem;
}
.item ul li {
  font-weight: 600;
}
/* detail  */
.bg_details {
  background-color: #f6f4f4;
}

.title_app {
  background-image: linear-gradient(60deg, #088750, #28d12b);
  background-clip: text;
  color: transparent;
  /* color: #0fa973; */
}
.text_app {
  background-image: linear-gradient(60deg, #088750, #28d12b);
  background-clip: text;
  color: transparent;
}

header .ex_btn .btn_explore {
  border-radius: 50px;
  color: #134470;
  border: 1px solid #134470;
  color: #134470;
}
.bottom_text {
  font-size: 12px;
}
